* {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
    font-size: 18px;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;
}

/* overall-result starts */

.overall-result {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 4;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    align-items: center;
    text-align: center;
    border-radius: 0 0 40px 40px;
}

.your-result {
    color: hsl(241, 100%, 89%);
    padding: 1.5rem;
    font-weight: 500;
    font-size: 1.25rem;
}
.score {
    display: flex;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.score-top{
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
}

.score-bottom{
    font-size: 1rem;
    font-weight: 500;
    color: hsl(241, 100%, 89%)
}

.one-word-eval{
    color: white;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1vw;
}

.statistic {
    color: hsl(241, 100%, 89%);
    width: 80%;
    font-size: 1rem;
    margin: 0;
}

/* overall-result ends */

/* breakdown starts*/

.breakdown {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 5;
    font-size: 1.5rem;
    padding: 0 2rem;
}

.summary, .category-name, .category-score, .slash-100, .continue{
    font-size: 1.2rem;
    font-weight: 700;
}
.summary, .category-score {
    color: hsl(224, 30%, 27%);
    font-size: 1.2rem;
}

.summary{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.categories-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.category {
    display: flex;
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
}

.reaction{background-color: hsla(0, 100%, 67%, 0.1);}
.memory{background-color: hsla(39, 100%, 56%, 0.1);}
.verbal{background-color: hsla(166, 100%, 37%, 0.1);}
.visual{background-color: hsla(234, 85%, 45%, 0.1);}

.category-name{
    font-weight: 700;
    padding: 0 1rem;
    flex-grow: 1;
}

.reaction-title{color: hsl(0, 100%, 67%)}
.memory-title{color: hsl(39, 100%, 56%)}
.verbal-title{color: hsl(166, 100%, 37%)}
.visual-title{color: hsl(234, 85%, 45%)}

.category-score{
    padding: 0 0.5rem;
}

.slash-100{
    color: #aaa;
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    padding: 1rem;
    background-color: hsl(224, 30%, 27%);
    color: white;
    border-radius: 50px;
    margin: 1.5rem 0;
}
/* breakdown ends */

@media (min-width: 480px) {
    main {
        height: 500px;
        width: 750px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        box-shadow: 10px 20px 50px hsl(221, 100%, 96%);
    }

    .overall-result {
        border-radius: 40px;
        height: 100%;
        padding: 0 4%;
    }

    .score {
        width: 200px;
        height: 200px;
    }

    .breakdown {
        height: 100%;
        flex-grow: 4;
        padding: 0 4%;
    }
}